<table>
    <caption>Today's favorite recipes</caption>
    <thead>
        <tr> 
            <th scope="col"> </th>
            <th scope="col">Bread</th>
            <th scope="col">Starters</th>
            <th scope="col">Main Courses</th>
            <th scope="col">Desserts</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>
                <form action="form.html">
                    <input type="submit" value="Send us a Recipe" />
                </form>
            </td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td scope="row" data-label="Önn">Fast and Easy</td>
            <td data-label="Bread"><a href="posts/french-bread.html" target="_blank">Faux French Bread</a></td>
            <td data-label="Starters"><a href="#" target="_blank">Kakori Kebab</a></td>
            <td data-label="Main Courses"><a href="#" target="_blank">Beef Enchiladas</a></td>
            <td data-label="Desserts"><a href="#" target="_blank">Strawberry cheesecake</a></td>
        </tr>
        <tr>
            <td scope="row" data-label="Önn">Quality Recipes</td>
            <td data-label="Bread"><a href="posts/lionhouse-rolls.html" target="_blank">Lionhouse Dinner Rolls</a></td>
            <td data-label="Starters"><a href="#" target="_blank">Chicken Satay</a></td>
            <td data-label="Main Courses"><a href="#" target="_blank">Crab Cakes</a></td>
            <td data-label="Desserts"><a href="#" target="_blank">Pavlova</a></td>
        </tr>
        <tr>
            <td scope="row" data-label="Önn">Exotic Recipes</td>
            <td data-label="Bread"><a href="posts/turkish-pide.html" target="_blank">Turkish Cheese Pide</a></td>
            <td data-label="Starters"><a href="#" target="_blank">Smoked kipper pâté</a></td>
            <td data-label="Main Courses"><a href="#" target="_blank">Greek Lamb Gyros</a></td>
            <td data-label="Desserts"><a href="#" target="_blank">Creme Brulee</td>
        </tr>
    </tbody>
</table>